@using EntityLayer.Concrete
@model List<Service>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box iconbox-blue">
            <div class="icon">
                <img src="@item.Img" width="100" height="100" viewBox="0 0 600 600" alt="@item.Name" />
            </div>
            <h4><a href="">@item.Name</a></h4>
            <p>@item.Description</p>
        </div>
    </div>
    }

</div>
