@using EntityLayer.Concrete
@model List<Skill>



<section id="skills" class="skills section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Yeteneklerim</h2>
            </div>
        <div class="row skills-content">

            <div class="col-lg-12">
                @foreach (var item in Model)
                {
                <div class="progress">
                    <span class="skill">@item.Name <i class="val">@item.SkillValue%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@item.SkillValue" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                }
                

            </div>

        </div>

    </div>
</section>